[submodule "LCC/ALP/Trabajo_Práctico_3/TP4"]
	path = LCC/ALP/Trabajo_Práctico_3/TP4
	url = https://github.com/Bussita/Evaluador-LIS-con-Monadas.git
	branch = main
[submodule "LCC/ALP/Trabajo_Práctico_Final"]
	path = LCC/ALP/Trabajo_Práctico_Final
	url = https://github.com/Bussita/EDSL-contratos-financieros-en-Haskell.git
	branch = main
[submodule "LCC/ModelosFísicos/Modelos-Fisicos"]
	path = LCC/ModelosFísicos/Modelos-Fisicos
	url = git@github.com:fasiluva/Modelos-Fisicos.git
	branch = main
[submodule "LCC/SistemasOperativosI/TP_Final/Peer-to-peer-LAN"]
	path = LCC/SistemasOperativosI/TP_Final/Peer-to-peer-LAN
	url = https://github.com/Bussita/Peer-to-peer-LAN.git
	branch = main